# Игнорировать файлы и директории, созданные Django
__pycache__/
*.py[cod]
db.sqlite3

# Игнорировать файлы миграций
migration/

# Игнорировать файлы настроек
*.env

# Игнорировать виртуальное окружение
../venv/
.env

# Игнорировать файлы, созданные IDE
.idea/
.vscode/

# Игнорировать файлы локализации
*.mo
*.pot

# Игнорировать файлы журналов
*.log

# Игнорировать файлы временных данных
*.tmp

# Игнорировать скомпилированные файлы
*.pyc

# Игнорировать файлы лок
*.lock
*.swp
*~

# Игнорировать файлы кеша
__pycache__/
*.pyc
*.pyo
__pycache__/

# Игнорировать файлы зависимостей Python
*.egg-info/
dist/
build/
*.egg
